@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	min-width: 0;
	min-height: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-image: url("https://assets-global.website-files.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
	background-position: 0 0;
	background-size: 200px 200px;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5;
}
